h1 {
  font-size: 60px;
}
hr {
  width: 400px;
}
h2 {
  font-family: 'Kadwa';
}
#startSection {
  display: none;
  text-align: center;
}
#displayAnswerSection {
  display: none;
}
#displayAnswer {
  list-style: none;
  text-align: center;
  font-family: 'Arvo';
  text-shadow: 1px 1px 4px darkgrey;
  font-size: 20px;
}
#rulesAlign {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Kadwa';
  margin-bottom: 40px;
  margin-top: 20px;
}
#pingPongButtonLabel {
  font-size: 20px;
  font-family: 'Kadwa';
}
#introSection {
  text-align: center;
  font-family: 'Sonsie One';
  margin-top: 150px;
  color: white;
  text-shadow: 1px 1px 4px black;
}
#startButtonAlign {
  text-align: center;
}
#pingPongButton {
  text-align: center;
  font-family: 'Sonsie One';
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
#startButton {
  text-align: center;
  font-family: 'Sonsie One';
  font-size: 30px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 4px white;
}

body {
  background-color: rgba(0, 198, 255, 0.8);
}
.well {
  border: 3px solid black;
}
